.user__container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    Form{
        border: 1px solid #e1e1e1;
        padding: 15px;
        width: 350px;
        border-radius: 10px;
        Input{
            // margin: 0px 30px;
            // width: 200px;
        }
        Button{
            margin: 10px 0px;
            width: 100%;
        }
    }
}