.navbar{
    display: flex;
    width: 100%;
    justify-content: center;
    // margin-left: 250px;
    align-items: center;
    height: 50px;
    background-color: #00000014;
    h1{
font-size: 30px;
    }
}